
<div class="ng-autocomplete">
  <ng-autocomplete

    [data]="getusers"
     [searchKeyword]="keyword"
     placeholder="Select Name"
     (selected)="selectevent($event)"
    (inputChanged)="onchangesearch($event)"
    (inputFocused)="onfocusedevent($event)"
    [itemTemplate]="itemTemplate"
     [notFoundTemplate]="notFoundTemplate">

  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
